<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" >
    <p class="text-center mb-5">
      <img src="assets/logo/login.jpg" class="" />
    </p>
    <div class="form-group row">
      <label for="inputName" class="col-sm-3 col-form-label">Username</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="username" formControlName="username"  [ngClass]="{'is-invalid': submitted && loginForm.controls.username.errors}" >
        <div *ngIf="loginForm.controls.username.errors" class="invalid-feedback">
          <div *ngIf="loginForm.controls.username.errors" >Require user.</div>
          <div *ngIf="loginForm.controls.username.errors.minlength">Minimum is 3 charactor</div>
        </div>        
      </div>
    </div>
    <div class="form-group row">
      <label for="inputName" class="col-sm-3 col-form-label">Password</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" name="password" formControlName="password"  [ngClass]="{'is-invalid': submitted && loginForm.controls.password.errors}" >
        <div *ngIf="loginForm.controls.password.errors" class="invalid-feedback">
          <div *ngIf="loginForm.controls.password.errors" >Require password.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary btn-block" >Login </button>
      </div>
    </div>
    <!-- ทำให้ส่งข้อความ html ออกมาแสดงได้ -->
    <p [innerHTML]="message"></p>

    <p>
      If you not a member<br />
      <a routerLink="/auth/register">
        Register here.
      </a>
    </p>
    <p><a routerLink="">Back To home</a></p>
    <!-- {{ message }} -->
    <!-- {{ person | json }} -->
    <!-- <p><img src="assets/logo/login.jpg" /></p> -->
    <!-- <p><img [src]="imgname2" /></p> -->
    <!-- <hr />
    {{ userData | json}} -->
  </form>
</div>
